.add {
  text-align: center;
  font-weight: 500;
  background-color: rgb(82, 216, 133);
  border: none;
  color: white;
  padding: 5px;
  margin: 10px;
}
.rem {
  text-align: center;
  font-weight: 500;
  background-color: rgb(235, 80, 80);
  color: white;
  border: none;
  padding: 5px;
  margin: 10px;
}

input {
  border: none;
  border-bottom: 1px solid darkcyan;
}

li {
  list-style-type: none;
  border-bottom: 1px solid darkcyan;
}

ul {
  counter-reset: section;
}
li::before {
  counter-increment: section;
  content: counter(section) ". ";
}

.disc {
  display: block;
  text-align: center;
  margin: 5%;
}

table {
  border: 1px darkcyan solid;
  text-align: center;
}

.table-fl {
  display: flex;
  justify-content: center;
}
th {
  border-bottom: 2px solid rgb(14, 80, 85);
}
